/Labs/13-IO_Fundamentals/practices/practice2/SerializeShoppingCart13-02Prac/build/
/Labs/18-JDBC/practices/practice1/SimpleJDBC18-01Prac/build/
/Labs/19-Localization/examples/DateFormatExample/nbproject/private/
/Labs/19-Localization/examples/Localization/build/
/Labs/19-Localization/examples/Localization/nbproject/private/
/Labs/19-Localization/examples/NumberFormatExample/nbproject/private/
/Labs/19-Localization/examples/PropertiesExample/build/
/Labs/19-Localization/examples/PropertiesExample/nbproject/private/
/Labs/19-Localization/practices/practice1/Localized19-01Prac/nbproject/private/
/Labs/19-Localization/solutions/practice1/Localized19-01Soln/nbproject/private/
/Labs/19-Localization/practices/practice1/Localized19-01Prac/build/
/pos pro/nbproject/private/
/Book4/nbproject/private/
/SoccerApp/nbproject/private/
/SoccerApp/build/
/Soccer/nbproject/private/
/Soccer/build/
